{% extends 'base.html' %}
{% block content %}
<div class="album mt-2">


          <div class="row">

            {% for team in teams %}
            <div class="col">
              <div class="card ms-3 mt-3 box-shadow" style="width:18rem">
                <img class="card-img-top" src="{{ team.image.url }}" alt="{{ team.name }}" width="150px" height = "250px" >
                <div class="card-body">
                  <h3 class="card-text">{{ team.name }}</h3>
                    <p class = "card-text">Zawodnicy: {{ team.get_players_cunt }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">
                          <a class="text-decoration-none text-dark" href="{{ team.get_absolute_url }}">Szczegóły</a>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

          </div>
    </div>
{% endblock %}