{% extends 'base.html' %}
{% block title %} {{ match }} {% endblock %}
{% block content %}
    <div class="container text-center overflow-hidden">
        <div class="row">
            <div class="d-flex justify-content-between mt-2">
                <img class=" rounded-circle" src="{{ match.team1.image.url }}"style="width: 160px;height: 150px;" >
             <img class=" rounded-circle" src="{{ match.team2.image.url }}" style="width: 160px; height: 150px;" >
        </div>
            <h1>{{ match }}</h1>
                <h4>{{ match.date }}, {{ match.stadium }}</h4>
            <h3>Strzelcy: </h3>
        <table class="table table-hover text-center mt-2 ">
		  <tbody>
            {% for scorer in scorers %}
                <tr>
                <td>{{ scorer.scorer }} : {{ scorer.count }}</td>
                </tr>
            {% endfor %}

        </tbody>
        </table>
        </div>
    </div>
{% endblock %}