{% extends 'base.html' %}
{% block title %} Wprowadz wynik {% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">{{ match.team1 }} VS {{ match.team2 }}</h1>
    <form method="post" onsubmit="return confirm('Czy na pewno?')">
        {% csrf_token %}
        <h2 class="fst-italic">{{ match.team1 }}</h2>
        {% for player in players1 %}
            <label>{{ player }}</label>
            <input type="number" name="{{ player.id }}" value="0" min="0" max="100">
            <br/>
        {% endfor %}
        <h2 class="fst-italic mt-5" >{{ match.team2 }}</h2>
        {% for player in players2 %}
            <label>{{ player }}</label>
            <input type="number" name="{{ player.id }}" value="0" min="0" max="100">
            <br/>
        {% endfor %}
    <button type="submit" class="btn btnn btnn3 mx-auto d-block" >Wprowadz</button>
    </form>
</div>
{% endblock %}