{% extends './base.html' %}
{% block content %}
    <div class="container show">
        <div class="row">
        <div class="col-12 m-2 ">
            <h1 class="text-center">TOP STRZELCY</h1>
        </div>
            {% for row in table %}
                        <div class=" card border-secondary m-2 col-xs-6 col-sm-6 col-md-4 mx-auto d-block groww" style="max-width: 14rem;">
                            <div class="card-header bg-transparent border-secondary"><div class="text-center text-nowrap" style="color:black; font-size: 20px; font-style: italic; font-weight: bold"><span >Team: </span>{{ row.team }}</div></div>
                            <div class="text-center "><img class="rounded-circle mx-auto d-block mt-2" alt="{{ row.team }}" src="{{ row.player.image.url }}" style="width: 120px; height: 140px"></div>
                            <div class="text-center text-nowrap mb-2"><a class="text-decoration-none dropdown-toggle " style="color:black; font-size: 15px; font-style: italic; font-weight: bold" href="{{ row.player.get_absolute_url }}">{{ row.player.short_str }}</a></div>
                             <div class="card-footer bg-transparent border-secondary"><div class="text-center text-nowrap" style="color:black; font-size: 15px; font-style: italic; font-weight: bold"><span >Score: </span>{{ row.scored }}</div></div>
                        </div>
                    {% endfor %}
        </div>

    <div class="row"><h1 class="text-center">OSTATNIE MECZE</h1></div>
            <div class="col-12 m-2">
                <table class="table table-hover table-bordered text-center rounded">
                    <tbody>
                        {% for match in matches %}
                            <tr class="">
                                <td><a class="text-decoration-none text-dark " href="{% url 'football:match_detail' match.id %}">{{ match.team1 }} Vs {{ match.team2 }}</a></td>
                                <td class="table-dark"> {{ match.get_score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <a class="btn btnn btnn3" href="{% url 'football:all_matches' %}">Wszystkie mecze</a>
            </div>
    </div>

{% endblock %}