{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h3>{{ team.name|title }}</h3>
    <img src="{{ team.image.url }}">

    <div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Lp</th>
		      <th scope="col">Zdjęcie</th>
		      <th scope="col">Imie i nazwisko</th>
		      <th scope="col">Bramki strzelone</th>
		      <th scope="col">Pozycja</th>
		      <th scope="col">Nr koszulki</th>
		    </tr>
		  </thead>
		  <tbody>
          {% for player in players %}
		    <tr>
		      <th scope="row">{{ forloop.counter }}</th>
		      <td class="w-25">
			      <img src="{{ player.image.url }}" class="img-fluid img-thumbnail" width="100px" height="100px" alt="Sheep">
                  {% if player.captain == True %}
                      <img src="../media/images/captain.png" height="35px" width="35px">
                  {% endif %}
		      </td>
		      <td><a class="text-dark text-decoration-none" href ={{ player.get_absolute_url }}><p class="fw-bold">{{ player.name }} {{ player.surname }}</p></a></td>
		      <td>{{ player.get_goals.count }}</td>
		      <td>{{ player.position }}</td>
		      <td>
                  {% if player.shirt_number != None %}
                  {{ player.shirt_number }}
                  {% else %}
                  Nieokreślony
                  {% endif %}
              </td>
		    </tr>
          {% endfor %}
		  </tbody>
		</table>
        {% if form != None %}
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-outline-success">Zaproś</button>
            </form>

        {% endif %}
    </div>
  </div>
</div>

{% endblock %}