{% extends 'base.html' %}
{% block title %} Wyślij wiadomość {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="container show">
            <form class="mx-auto d-block mt-5 text-center" method="post" style="width: 300px;">
                {% csrf_token %}
                {{ form|crispy }}
                 <button type="button" class="btn btnn btnn3 mx-auto d-block" type="submit">Wyślij</button>
{#                <input class="btn" type="submit" value="Zastosuj">#}

            </form>
    </div>
{% endblock %}